body {
    border: 10px;
    font-size: 15pt;
    line-height: 1.5px;
}
.big-table table{
   border:10px;
   align-items: center;
   grid-row: auto;
}
header h1{
    font-size: 200px;
    text-align: center;
}
header p{
    font-size: 10px;
    text-align: center;
}
.table1{
    border: 1px;
}


.thick-end {
    border-bottom: 10px solid black;
  }
.thin-end {
    border-bottom: 1px solid black;
  }
  
.blank-cell {
    width: 1rem;
    border-top: 0;
  }